PluginSource/Temp
PluginSource/Library
PluginSource/obj
PluginSource.userprefs
export
google-play-services_lib.meta
TestApp/Assets/Plugins/iOS
TestApp/Temp
TestApp/Library
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
ProjectVersion.txt
PluginSource.sln