PluginSource/Temp
PluginSource/Library
PluginSource.userprefs
export
TestApp/Library
TestApp/Assets/Plugins/iOS
PluginSource/obj
TestApp/Temp
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
ProjectVersion.txt
PluginSource.sln
