PluginSource/Library
PluginSource/Temp
PluginSource/obj
PluginSource/Assembly-CSharp-Editor.csproj
PluginSource/Assembly-CSharp.csproj
PluginSource/PluginSource.userprefs
PluginSource.sln
export
TestApp/Assets/Plugins/iOS
TestApp/Library
google-play-services_lib.meta
